.main {
    background-color: rgb(245, 245, 245);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}

.vacuo {
    width: 10%;
    height: 100%;
}
.text_container {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .text_container h1 {
    font-size: 34px;
    width: 400px;
    color: #101010;
    margin-bottom: 10px;
}

.main .image_container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main .image_container img {
    border-radius: 5px;
}

.main .text_container p {
    font-size: 16px;
    width: 440px;
    color: #363535;
    margin-bottom: 15px;
}

.more_button {
    margin-right: auto;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid #101010;
    color: white;
    background-color: rgb(18, 139, 119);
}

.more_button:hover {
    cursor: pointer;
    background-color: rgb(25, 161, 139);
}

.more_button:active {
    background-color: rgb(18, 139, 119);
}